.mainLast{
    display: flex;
    gap: 34px;
    margin-left: 115px;
    margin-right: 134px;
    


}

.lastBoxes{
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    box-shadow: 1px 1px 20px grey;

    



}

.profilePics{
    width: 43px;
    height: 43px;
    border-radius: 100%;
    

}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -16px;
}

.flexTitle{
    display: flex;
    gap: 43px;
    font-size: 8px;
    height: 28px;
    


}
.titleFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
    
}
.titleFlex > p{
    position: relative;
    right: 34%;
    bottom: 30px;
}

.flexTitle > p{
    display: flex;
    align-items: center;
    font-size: 10px;
    color: grey;
}

.flexTitle > h3{
    color: red;
}

.midTitle{
    display: flex;
    flex-direction: column;
}

.skill{

    width: 50%;
    height: 12px;
    background-color: rgb(57, 15, 7);
    border-radius: 9px;
}

.skillItems{
display: flex;
align-items: center;
width: 100%;
background-color:rgb(50, 46, 46);
border-radius: 16px;


}
.skillItems1{
    display: flex;
    align-items: center;
    width: 100%;
    background-color:rgb(213, 213, 94);
    border-radius: 16px;
    
    
    }

    .skillItems2{
        display: flex;
        align-items: center;
        width: 100%;
        background-color:rgb(157, 211, 233);
        border-radius: 16px;
        
        
 }
 .skillItems3{
            display: flex;
            align-items: center;
            width: 100%;
            background-color:rgb(50, 46, 46);
            border-radius: 16px;
            
            
  }
            
        
    


.t1{

    width: 100%;
    background-color: rgb(203, 92, 18);

}
.t2{

    width: 60%;
    background-color: rgb(203, 92, 18);

}
.t3{

    width: 60%;
    background-color: rgb(203, 92, 18);

}
.t4{

    width: 100%;
    background-color:rgb(50, 46, 46);

}

.warning{
position: relative;
left: 90%;
bottom: 7px;
    width: 12px;
    height: 12px;
}

#bankiaflex >p{
    position: relative;
    right: 10%;
    bottom: 30px;
}